@charset "UTF-8";

@font-face {
    font-family: flaticon;
    src: url(flaticon5c34.ttf?f621dcd388c160f76072216d761f59d4) format("truetype"), url(flaticon5c34.woff?f621dcd388c160f76072216d761f59d4) format("woff"), url(flaticon5c34.woff2?f621dcd388c160f76072216d761f59d4) format("woff2"), url(flaticon5c34.eot?f621dcd388c160f76072216d761f59d4#iefix) format("embedded-opentype"), url(flaticon5c34.svg?f621dcd388c160f76072216d761f59d4#flaticon) format("svg")
}

i[class^=flaticon-]:before,
i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: 400 !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.flaticon-play-button:before {
    content: ""
}

.flaticon-straight-quotes:before {
    content: ""
}

.flaticon-arrow-point-to-right:before {
    content: ""
}

.flaticon-play-button-arrowhead:before {
    content: ""
}

.flaticon-right-quotes-symbol:before {
    content: ""
}

.flaticon-minus-sign:before {
    content: ""
}

.flaticon-earth:before {
    content: ""
}

.flaticon-world:before {
    content: ""
}

.flaticon-fast-forward-double-right-arrows-symbol:before {
    content: ""
}

.flaticon-search-interface-symbol:before {
    content: ""
}

.flaticon-right-arrow-angle:before {
    content: ""
}

.flaticon-minus:before {
    content: ""
}

.flaticon-right-quotation-sign:before {
    content: ""
}

.flaticon-left-quote:before {
    content: ""
}

.flaticon-facebook-logo:before {
    content: ""
}

.flaticon-share:before {
    content: ""
}

.flaticon-right-arrow:before {
    content: ""
}

.flaticon-phone-call:before {
    content: ""
}

.flaticon-back:before {
    content: ""
}

.flaticon-upload:before {
    content: ""
}

.flaticon-chat:before {
    content: ""
}

.flaticon-star:before {
    content: ""
}

.flaticon-search:before {
    content: ""
}

.flaticon-down-arrow:before {
    content: ""
}

.flaticon-twitter:before {
    content: ""
}

.flaticon-right-quote:before {
    content: ""
}

.flaticon-happiness:before {
    content: ""
}

.flaticon-linkedin:before {
    content: ""
}

.flaticon-share-1:before {
    content: ""
}

.flaticon-add:before {
    content: ""
}

.flaticon-up-arrow:before {
    content: ""
}

.flaticon-send:before {
    content: ""
}

.flaticon-down-arrow-1:before {
    content: ""
}

.flaticon-mail:before {
    content: ""
}

.flaticon-right-arrow-1:before {
    content: ""
}

.flaticon-left-arrow:before {
    content: ""
}

.flaticon-checked:before {
    content: ""
}

.flaticon-pin:before {
    content: ""
}

.flaticon-phone:before {
    content: ""
}

.flaticon-call:before {
    content: ""
}

.flaticon-maps-and-flags:before {
    content: ""
}

.flaticon-user:before {
    content: ""
}

.flaticon-envelope:before {
    content: ""
}

.flaticon-search-1:before {
    content: ""
}

.flaticon-email:before {
    content: ""
}

.flaticon-remove:before {
    content: ""
}

.flaticon-quote:before {
    content: ""
}

.flaticon-down-arrow-2:before {
    content: ""
}

.flaticon-phone-call-1:before {
    content: ""
}

.flaticon-seeding:before {
    content: ""
}

.flaticon-down-arrow-3:before {
    content: ""
}

.flaticon-visibility:before {
    content: ""
}

.flaticon-mail-1:before {
    content: ""
}

.flaticon-placeholder:before {
    content: ""
}

.flaticon-placeholder-1:before {
    content: ""
}

.flaticon-plant:before {
    content: ""
}

.flaticon-wall-clock:before {
    content: ""
}

.flaticon-next:before {
    content: ""
}

.flaticon-search-2:before {
    content: ""
}

.flaticon-email-1:before {
    content: ""
}

.flaticon-instagram:before {
    content: ""
}

.flaticon-pinterest:before {
    content: ""
}

.flaticon-twitter-1:before {
    content: ""
}

.flaticon-calendar:before {
    content: ""
}

.flaticon-minus-1:before {
    content: ""
}

.flaticon-star-1:before {
    content: ""
}

.flaticon-plus:before {
    content: ""
}

.flaticon-location:before {
    content: ""
}

.flaticon-left-arrow-1:before {
    content: ""
}

.flaticon-next-1:before {
    content: ""
}

.flaticon-plant-1:before {
    content: ""
}

.flaticon-value:before {
    content: ""
}

.flaticon-confirmation:before {
    content: ""
}

.flaticon-call-1:before {
    content: ""
}

.flaticon-twitter-2:before {
    content: ""
}

.flaticon-user-1:before {
    content: ""
}

.flaticon-user-2:before {
    content: ""
}

.flaticon-rocket:before {
    content: ""
}

.flaticon-irrigation-system:before {
    content: ""
}

.flaticon-landscape:before {
    content: ""
}

.flaticon-instagram-1:before {
    content: ""
}

.flaticon-add-1:before {
    content: ""
}

.flaticon-watering-can:before {
    content: ""
}

.flaticon-comment:before {
    content: ""
}

.flaticon-youtube:before {
    content: ""
}

.flaticon-collaboration:before {
    content: ""
}

.flaticon-seeding-1:before {
    content: ""
}

.flaticon-badge:before {
    content: ""
}

.flaticon-quotation:before {
    content: ""
}

.flaticon-rate:before {
    content: ""
}

.flaticon-categories:before {
    content: ""
}

.flaticon-vision:before {
    content: ""
}

.flaticon-download-file:before {
    content: ""
}

.flaticon-chat-1:before {
    content: ""
}

.flaticon-quote-1:before {
    content: ""
}

.flaticon-comment-1:before {
    content: ""
}

.flaticon-email-2:before {
    content: ""
}

.flaticon-quote-2:before {
    content: ""
}

.flaticon-watering-can-1:before {
    content: ""
}

.flaticon-target:before {
    content: ""
}

.flaticon-park:before {
    content: ""
}

.flaticon-leaves:before {
    content: ""
}

.flaticon-clock:before {
    content: ""
}

.flaticon-check:before {
    content: ""
}

.flaticon-check-1:before {
    content: ""
}

.flaticon-facebook:before {
    content: ""
}

.flaticon-nature:before {
    content: ""
}

.flaticon-instagram-2:before {
    content: ""
}

.flaticon-gardening:before {
    content: ""
}

.flaticon-friend:before {
    content: ""
}

.flaticon-instagram-3:before {
    content: ""
}

.flaticon-plus-1:before {
    content: ""
}

.flaticon-plus-2:before {
    content: ""
}

.flaticon-linkedin-1:before {
    content: ""
}

.flaticon-customer-service:before {
    content: ""
}

.flaticon-engineering:before {
    content: ""
}

.flaticon-guaranteed:before {
    content: ""
}

.flaticon-farming:before {
    content: ""
}

.flaticon-youtube-1:before {
    content: ""
}

.flaticon-share-2:before {
    content: ""
}

.flaticon-paper-plane:before {
    content: ""
}

.flaticon-calendar-1:before {
    content: ""
}

.flaticon-send-1:before {
    content: ""
}

.flaticon-safe:before {
    content: ""
}

.flaticon-meter:before {
    content: ""
}

.flaticon-sapling:before {
    content: ""
}

.flaticon-shovel:before {
    content: ""
}

.flaticon-gardening-1:before {
    content: ""
}

.flaticon-gardening-2:before {
    content: ""
}

.flaticon-direct:before {
    content: ""
}

.flaticon-garden:before {
    content: ""
}

.flaticon-man-user:before {
    content: ""
}

.flaticon-hat:before {
    content: ""
}

.flaticon-user-3:before {
    content: ""
}

.flaticon-globe:before {
    content: ""
}

.flaticon-phone-call-2:before {
    content: ""
}

.flaticon-checked-1:before {
    content: ""
}

.flaticon-delivery:before {
    content: ""
}

.flaticon-portfolio:before {
    content: ""
}

.flaticon-refuse:before {
    content: ""
}

.flaticon-presentation:before {
    content: ""
}

.flaticon-lightning:before {
    content: ""
}

.flaticon-briefcase:before {
    content: ""
}

.flaticon-google-docs:before {
    content: ""
}

.flaticon-right-arrows:before {
    content: ""
}

.flaticon-balance:before {
    content: ""
}

.flaticon-location-1:before {
    content: ""
}

.flaticon-award:before {
    content: ""
}

.flaticon-process:before {
    content: ""
}

.flaticon-email-3:before {
    content: ""
}

.flaticon-home:before {
    content: ""
}

.flaticon-park-1:before {
    content: ""
}

.flaticon-smart-city:before {
    content: ""
}

.flaticon-government-building:before {
    content: ""
}

.flaticon-government:before {
    content: ""
}

.flaticon-24-hours:before {
    content: ""
}

.flaticon-silhouette:before {
    content: ""
}