@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap";

.card-process{
    min-height:300px;
}

.bg-img-one {
    position: relative;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-image: url(../images/bg/bg-shape.jpg);
    background-attachment: fixed;
}
.bg-pattern-one {
    background: linear-gradient(45deg,#0000 calc(25%/3), #ededed 0 calc(50%/3),
      #0000 0 calc(250%/3), #ededed 0 calc(275%/3),
      #0000 0),linear-gradient( 45deg,#ededed calc(25%/3), #0000 0 calc(50%/3),
      #ededed 0 25%, #0000 0 75%,
      #ededed 0 calc(250%/3), #0000 0 calc(275%/3),
      #ededed 0),
      linear-gradient(-45deg,#0000 calc(25%/3), #ededed 0 calc(50%/3),
      #0000 0 calc(250%/3), #ededed 0 calc(275%/3),
      #0000 0),linear-gradient(-45deg,#ededed calc(25%/3), #0000 0 calc(50%/3),
      #ededed 0 25%, #0000 0 75%,
      #ededed 0 calc(250%/3), #0000 0 calc(275%/3),
      #ededed 0)
      #ffffff;
    background-size: 20px 20px;
    background-position: 0 0, 10px  10px;

}
.bg-pattern-two{
    background:
      conic-gradient(at 62.5% 12.5%, #ededed 25%, #0000 0) calc(12px/-8) calc(12px/2),
      conic-gradient(at 62.5% 12.5%, #ededed 25%, #0000 0) calc(-3*12px/8) calc(12px/4),
      conic-gradient(at 87.5% 62.5%, #ededed 25%, #0000 0) calc(3*12px/8) calc(12px/4),
      conic-gradient(at 87.5% 62.5%, #ededed 25%, #0000 0) calc(12px/-8) 0,
      conic-gradient(at 25% 12.5%, #ededed 25%, #0000 0) 0 calc(12px/-4),
      conic-gradient(at 25% 12.5%, #ededed 25%, #0000 0) calc(12px/-4) 0,
      conic-gradient(at 87.5% 87.5%, #ededed 25%, #0000 0) calc(12px/8) 0
      #ffffff;
    background-size: 12px 12px;

}

.box-shadow{
    -webkit-box-shadow: 0px 0px 8px -1px rgba(89,89,89,1);
    -moz-box-shadow: 0px 0px 8px -1px rgba(89,89,89,1);
    box-shadow: 0px 0px 8px -1px rgba(89,89,89,1);
}

.img-comment{
    width: 60px !important;
    height: 60px !important;
}
.img-testimonial{
    width: 60px !important;
    height: 60px !important;
}
.img-support{
    margin:0px auto;
    width: 130px !important;
    height: auto !important;
    padding:20px;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 5rem!important;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    font-weight: bold;
    box-shadow: 2px solid #000;;
}
.half-black{
    background:rgba(0,0,0,0.5);
}
.fit-object{
    object-fit: contain;
}
/* .carousel-item::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0
} */

@media only screen and (min-width:768px) and (max-width:991px) {
    .carousel-caption {
        bottom: 5rem!important;
    }
    .carousel-caption h5{
        font-size:18px!important;
    }
    .carousel-caption h1{
        font-size:22px!important;
    }
}
@media only screen and (max-width:1199px) {
    .carousel-caption {
        bottom: 2.5rem!important;
    }
    .carousel-caption h5{
        font-size:12px!important;
    }
    .carousel-caption h1{
        font-size:18px!important;
    }
}